* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(30deg, #00C9FF 0%, #92FE9D 100%);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reproductor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
}

img {
    width: 100px;
    border-radius: 50%;
    transition: outline .05s;
}

img:hover {
    outline: 5px solid #aaa;
}

h1 {
    font-size: 25px;
    text-align: center;
}

.fas {
    font-size: 1.5em;
}

.fas:hover {
    cursor: pointer;
}
.volumen .fas:hover {
    cursor: default;
}

#pause {
    display: none;
}

.time {
    display: inline;
}

.duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.duration input {
    -webkit-appearance: none;
    width: 275px;
    height: 2px;
    background-color: #aaa;
}

.duration input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
}

.volumen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 105px;
}

#volumen {
    -webkit-appearance: none;
    width: 70px;
    height: 2px;
    background-color: #aaa;
}

#volumen::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
}

/* Corazón new 3/01/2021 */
#heart {
    appearance: none;
    position: relative;
    top: -350px;
    right: -162px;
    width: 80px;
    height: 80px;
    border: none;
    outline: none;
    background-color: #fff;
    transform: rotate(45deg) scale(.18);
    outline: 1px solid #000;
}

#heart:checked {
    background-color: #f00;
}

#heart::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #fff;
    top: 0px;
    left: -40px;
    border-radius: 50%;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

#heart::after {
    content: '';
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #fff;
    top: -125px;
    right: 0;
    border-radius: 50%;
    border-top: 1px solid #000;
}

#heart:checked:before {
    content: '';
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #f00;
    top: 0px;
    left: -40px;
    border-radius: 50%;
}

#heart:checked:after {
    content: '';
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #f00;
    top: -125px;
    right: 0;
    border-radius: 50%;
}